@tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  *{
    
  }
  :root {

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
  
  .input-form-fields {
    border: 1px solid #ffffff7a;
    padding: 1em;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    background-color: transparent;
  }
  
  .form-container-box {
    border-radius: 20px;
    padding: 6em 4em;
    border: 1px solid #ffffff7a;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
  }
  
  #bg-circle-gradient-1,
  #bg-circle-gradient-2 {
    position: absolute;
    width: 1000px;
    height: 1000px;
    border-radius: 100%;
    opacity: 0.7;
    user-select: none;
    pointer-events: none;
  }
  
  #bg-circle-gradient-1 {
    background: radial-gradient(circle, #0d4a72 0%, #0d4a7200 70%);
    top: -300px;
    left: -300px;
  }
  #bg-circle-gradient-2 {
    background: radial-gradient(circle, #551956 0%, #55195600 70%);
    bottom: -300px;
    right: -300px;
  }

  /* Customizing the overall scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Customizing the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 10px; /* Round corners for the track */
}

/* Customizing the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the handle */
  border-radius: 10px; /* Round corners for the handle */
}

/* Customizing the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle when hovered */
}

/* Customizing the scrollbar handle on active */
::-webkit-scrollbar-thumb:active {
  background: #333; /* Color of the handle when active */
}
